@import "tailwindcss";

:root {
  --color-primary: #2563eb;
  --bg-light: #f8f9fa;
  --bg-dark: #0f172a; /* Slate 900 */
}

/* Smooth Theme Transition */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}
